@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sunglow: #fed340;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  -webkit-tap-highlight-color: transparent;
}

.navbar__galssmorphism {
  background: rgba(190, 190, 190, 0.15);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
}

.reviews__glassmorphism {
  background: rgba(245, 245, 245, 0.6);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(1px);
}

.hero {
  background-image: url("./assets/hero_background-min.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center-title::after {
  content: "";
  display: block;
  height: 5px;
  width: 70px;
  background-color: var(--sunglow);
  margin: 7px auto 0 auto;
}

.left-title::after {
  content: "";
  display: block;
  height: 5px;
  width: 70px;
  background-color: var(--sunglow);
  margin-top: 7px;
}

.reviews__container {
  background-image: url("./assets/Bubbles.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wcsp {
  background-image: url("./assets/bg2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
